#!/bin/bash

source='{{ source }}'
domain='{{ domain }}'

source_url="https://${domain}/${source}"

path=`find /home -name "$domain"`/public_html
user=`find /home -name "$domain" | awk -F '/' '{print $3}'`

if [[ -e "${path}/.env"  ]]; then
    wp_user=`cat $path/.env | grep 'DB_USER=' | awk -F"'" '{print $2}'`
    wp_data_name=`cat $path/.env | grep 'DB_NAME=' | awk -F"'" '{print $2}'`
    wp_pass=`cat $path/.env | grep 'DB_PASSWORD' | awk -F"'" '{print $2}'`

    cd $path/
    sudo mv .env ..
    sudo rm -rf $path/*
    wget --no-check-certificate $source_url

    sudo unzip -o $source
    sudo mysql $wp_data_name < *.sql
    cd ${path}
    sudo chown $user:$user -R *
    rm -rf $path/${source}

    sudo sed -i "s/DB_NAME=.*/DB_NAME='${wp_data_name}'/g" ${path}/.env
    sudo sed -i "s/DB_USER=.*/DB_USER='${wp_user}'/g" ${path}/.env
    sudo sed -i "s/DB_PASSWORD=.*/DB_PASSWORD='${wp_pass}'/g" ${path}/.env
    cd $path/web/app/
    sudo rm -rf advanced-cache.php cache wp-rocket-config
else
    wp_user=`cat $path/wp-config.php | grep 'DB_USER' | awk -F',' '{print $2}' | cut -c 3- | rev | cut -c 4- | rev`
    wp_data_name=`cat $path/wp-config.php | grep 'DB_NAME' | awk -F',' '{print $2}' | cut -c 3- | rev | cut -c 4- | rev`
    wp_pass=`cat $path/wp-config.php | grep 'DB_PASSWORD' | awk -F',' '{print $2}' | cut -c 3- | rev | cut -c 4- | rev`

    cd $path/
    sudo mv wp-config.php ..
    sudo rm -rf $path/*
    wget --no-check-certificate $source_url

    sudo unzip -o $source
    sudo mysql $wp_data_name < *.sql
    cd ${path}
    sudo chown $user:$user -R *
    rm -rf $path/${source}

    sudo sed -i "s/'DB_NAME', .*/'DB_NAME', '${wp_data_name}');/g" wp-config.php
    sudo sed -i "s/'DB_USER', .*/'DB_USER', '${wp_user}');/g" wp-config.php
    sudo sed -i "s/'DB_PASSWORD', .*/'DB_PASSWORD', '${wp_pass}');/g" wp-config.php
    cd $path/wp-content/
    sudo rm -rf advanced-cache.php cache wp-rocket-config
fi


